<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <title>Handlebars</title>
</head>
<body>
    <h1 style="color:blue;">Ingrese datos</h1>
    <br>

    <form action="/" method="post">
        <div>
            <label for="nombre"><b>Nombre</b></label>
            <input id="nombre" type="text" name="nombre">
        </div>    

        <div>
            <label for="precio"><b>precio</b></label>
            <input id="precio" type="number" name="precio">
        </div>

        <div>
            <label for="imagen"><b>Url de imagen</b></label>
            <input id="imagen" type="text" name="imagen">
        </div>

        <button>Enviar</button>
    </form>
    <br>

    <div>
        <a href="/productos">Ver productos cargados</a>
    </div>
</body>
</html>