<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
</head>
<body>
  <div>
    <H1>Añadir</H1>
    <form action="http://localhost:8080/api/productos" method="post" >
      <label for="title">Product Name</label>
      <input type="text" name="title" placeholder="Item" required>
      <label for="price">Price</label>
      <input type="text" name="price" placeholder="Precio" required>
      <label for="thumbnail">Thumbnail URL</label>
      <input type="text" name="thumbnail" >
      <button type="submit">Submit</button>
    </form>
  </div>

</body>
</html>